<nav class="short-menu" role="menubar">

    <div class="user-card">
        <div class="avatar">
            <img src="../../Resources/Web/achievements/%%AVATAR_IMG%%" id="avatar" alt="Awatar użytkownika.">
            <img src="../../Resources/Web/changeAvatar.png" id="change-avatar" alt="Ikona informująca o możliwości zmiany awatara." title="Zmień swój awatar">
            <div class="user-data">  
            <!-- <div><span>klasa </span><b>1A</b></div> -->
            <div>%%CLASS_NAME%%</div>
            <div>%%STUDENT_NR%%</div>
            </div>
        </div>
        <div class="personal-data">
            <span>%%FNAME%%</span>
            <span>%%SNAME%%</span>
            <span>%%LNAME%%</span>  
        </div>
    </div>
    
    <a href="/" role="menuitem" title="Strona główna">
        <div class="icon page-home-hub-icon"></div>
        <span>Strona główna</span>
    </a>
    <a href="/courses" role="menuitem" title="Przeglądaj dostępne kursy.">
        <div class="icon course-student-icon"></div>
        <span>Kursy</span>
    </a>
    <a href="/zadania" role="menuitem" title="Przeglądaj dostępne zadania.">
        <div class="icon tasks-student-icon"></div>
        <span>Zadania</span>
    </a>
    
    <a href="/archiwum" role="menuitem" title="Znajdziesz tu wyniki testów które zostały przez ciebie wykonane.">
        <div class="icon archive-student-icon"></div>
        <span>Archiwum</span>
    </a>
    <a href="/do-pobrania" role="menuitem" title="Zasoby do pobrania.">
        <div class="icon download-icon"></div>
        <span>Do pobrania</span>
    </a>



    <div class="nav-separator" title="Funkcje tylko dla nauczyciela."></div>


    <a href="/zadania-manager" role="menuitem" title="Zarządzaj wszystkimi zadaniami.">
        <div class="icon tasks-teacher-icon"></div>
        <span>Zadania</span>
    </a>
    <a href="/lessons-manage" role="menuitem" title="Zarządzaj wszystkimi lekcjami z twoich kursów.">
        <div class="icon course-teacher-icon"></div>
        <span>Zarządzaj lekcjami</span>
    </a>
    <a href="/testy-manager" role="menuitem" title="Zarządzaj wszystkimi testami z twoich kursów.">
        <div class="icon exams-teacher-icon"></div>
        <span>Zarządzaj testami</span>
    </a>

    <a href="/classes" role="menuitem" title="Zestawienie wszystkich twoich klas.">
        <div class="icon classes-teacher-icon"></div>
        <span>Klasy</span>
    </a>

    <div class="nav-separator" title="Funkcje tylko dla nauczyciela."></div>
    <a href="/logout" role="menuitem" title="Wyloguj się z platformy.">
        <div class="icon logout-icon"></div>
        <span>Wyloguj się</span>
    </a>


    
</nav>


