ErrorDocument 404 /Errors/404.html
ErrorDocument 403 /Errors/403.html

AddType 'text/css; charset=UTF-8' css
AddType 'text/javascript; charset=UTF-8' js

# Wyłączanie nagłówka Expires
<IfModule mod_expires.c>
    ExpiresActive Off
</IfModule>

<IfModule mod_headers.c>
    Header unset Expires
</IfModule>

<FilesMatch "\.(js|css)$">
    FileETag None
    <IfModule mod_headers.c>
        Header unset ETag
        Header set Cache-Control "max-age=31536000, public, stale-while-revalidate=604800"
    </IfModule>
</FilesMatch>

<FilesMatch "\.(ico|jpg|jpeg|png|gif|webp)$">
    <IfModule mod_headers.c>
        Header unset Expires
        Header set Cache-Control "max-age=31536000, public, stale-while-revalidate=604800"
    </IfModule>
</FilesMatch>


# Obsługa HSL Filmów .ts
<IfModule mod_mime.c>
  AddType application/x-mpegURL .m3u8
  AddType video/MP2T .ts
</IfModule>
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>

# Rules for Versioned Static Files
# RewriteRule ^(scripts|css)/(.+)\.(.+)\.(js|css)$ $1/$2.$4 [L]
# Rules for Versioned Static Files
RewriteRule ^(scripts|css|images)/(.+)\.(.+)\.(js|css|jpg|gif|png)$ $1/$2.$4 [L]

# php_value display_errors Off for production
php_value display_errors on 
php_value mbstring.http_input auto
php_value date.timezone Europe/Warsaw

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>