<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../Views/Resource/Images/Website/favicon-v1.png" />
  <title>{{{Title_article}}} /#/ Edu-Koala-V</title>
  <link rel="stylesheet" href="../Views/Resource/CSS/style.css" />
</head>

<body>
  <header>
    <h1><a href="../">Edu-Koala-V</a></h1>
  </header>
  <main>
    {{{Article_Content}}}

  </main>
  <footer></footer>
</body>

</html>