<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../Views/Resource/Images/Website/favicon-v1.png" />
    <title>abc23 # Edu-Koala-V</title>
    <link rel="stylesheet" href="../Views/Resource/CSS/style.css" />
</head>
<body>
  <header>
    <h1><a href="../">Edu-Koala-V</a></h1>
  </header>
  <main>
    <head></head><body><p><img src="../Views/Resource/Images/Articles/abc23/image1703847759562.jpg"><img src="../Views/Resource/Images/Articles/abc23/image1703847759589.jpg"></p></body>

  </main>
  <footer></footer>
</body>
</html>