<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../Views/Resource/Images/Website/favicon-v1.png" />
    <title>Lama # Edu-Koala-V</title>
    <link rel="stylesheet" href="../Views/Resource/CSS/style.css" />
</head>
<body>
  <header>
    <h1><a href="../">Edu-Koala-V</a></h1>
  </header>
  <main>
    <head></head><body><h1><span class="greenTextColor">asdas</span></h1><p><img src="../Views/Resource/Images/Articles/undefined/image1703700758578.jpg"></p><ul><li><span class="blueTextColor">sada</span></li><li><span class="blueTextColor">sad</span></li></ul><p><img src="../Views/Resource/Images/Articles/undefined/image1703700758608.jpg"></p><p>asdsada</p></body>

  </main>
  <footer></footer>
</body>
</html>