<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../Views/Resource/Images/Website/favicon-v1.png" />
    <title>quill nowe # Edu-Koala-V</title>
    <link rel="stylesheet" href="../Views/Resource/CSS/newstyle.css" />
</head>
<body>
  <header>
    <h1><a href="../">Edu-Koala-V</a></h1>
  </header>
  <main>
    <h2><span class="redTextColor">Temat lekcji </span></h2><span class="defaultTextColor">
</span><span class="orangeTextColor underlineText">do zrobienia</span><br><span class="greenTextColor boldText">gjhgjh</span><span class="defaultTextColor">
</span><span class="purpleTextColor boldText">dasdas </span><span class="greenTextColor boldText italicText">Arnold</span>

  </main>
  <footer></footer>
</body>
</html>