<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../Views/Resource/Images/Website/favicon-v1.png" />
  <title>VirtualBox /#/ Edu-Koala-V</title>
  <link rel="stylesheet" href="../Views/Resource/CSS/style.css" />
</head>

<body>
  <header>
    <h1><a href="../">Edu-Koala-V</a></h1>
  </header>
  <main>
    <head></head><body><h2><em class="redTextColor">sdfsfsd</em></h2><h4><em class="purpleTextColor">fdsfsdf</em></h4><p><img src="../Views/Resource/Images/Articles/virtualbox/image1704730674882.jpg"></p></body>

  </main>
  <footer></footer>
</body>

</html>