table.archive {
    width: 90%;
    border-spacing: 0;
    border: 1px solid #ccc;
}
table.archive th {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
table.archive td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
table.archive td:nth-child(3){
    border-left: 2px dashed #2fbcff;
}
table.archive td:nth-child(5) {
    border-right: 2px dashed #2fbcff;
}
table.archive td:nth-child(3),
table.archive td:nth-child(4),
table.archive td:nth-child(5) {
    border-color: #2fbcff;
}

table.archive td:nth-child(6),
table.archive td:nth-child(7),
table.archive td:nth-child(8) {
    border-color: #23d63b;
}
table.archive td:nth-child(6){
    border-left: 2px dashed #23d63b;
}
table.archive td:nth-child(8){
    border-right: 2px dashed #23d63b;
}
table.archive th:nth-child(1),
table.archive th:nth-child(2) {
    background-color: #ffffff50;
}
table.archive th:nth-child(3),
table.archive th:nth-child(4),
table.archive th:nth-child(5) {
    background-color: #2fbdff50;
}
table.archive th:nth-child(6),
table.archive th:nth-child(7),
table.archive th:nth-child(8) {
    background-color: #23d63b50;
}