<div class="flashcard-container">
  <h1>%%FLASHCARDS_TITLE%%</h1>
  <h2>Zestaw ma 40 fiszek</h2>
<div class="flashcards vertical-box" data-flashcard='%%FLASHCARDS_JS_DATA%%'>
  <div id="flashcard">
    <div class="flashcard__front">
      <div class="flashcard__front__question">
        <p>
          Określ przyczynę wystąpienia komunikatu, który jest przedstawiony na
          rysunku
        </p>
        <div class="img-wrapper">
          <div class="blur-load">
            <div class="loader"></div>
            <img
            loading="lazy" 
            src="https://raw.githubusercontent.com/KiraTheGames/test/main/flashcards/806.jpg" 
            alt="Przeglądarka informuje użytkownika że strona HTTPS jest niebezpieczna"
            width="533"
            height="533"
            data-big-img="https://raw.githubusercontent.com/KiraTheGames/test/main/flashcards/806.jpg"
            title="Kliknij aby zobaczyć w powiekszeniu."
            type="image/webp"
            tabindex="0"
            >
        </div>
        </div>
      </div>
      <div class="flashcard__front__answers">
        <button type="button" class="flashcard__front__answer btn flashcard">
          Wyłączony Firewall
        </button>
        <button type="button" class="flashcard__front__answer btn flashcard">
          Niewłaściwa przeglądarka
        </button>
        <button type="button" class="flashcard__front__answer btn flashcard">
          Problem z weryfikacją certyfikatu bezpieczeństwa
        </button>
        <button type="button" class="flashcard__front__answer btn flashcard">
          Brak zainstalowanego programu antywirusowego
        </button>
        <button type="button" class="flashcard__front__answer  btn flashcard">Nie wiem</button>
      </div>
    </div>
    <div class="flashcard__back good">
      <div class="flashcard__back__message">BRAWO</div>

      <div class="flashcard__back__example">
        <p>
          Choć strona korzysta z protokołu HTTPS, to przeglądarka informuje
          użytkownika, że strona jest niebezpieczna. Problemem jest niewłaściwa
          weryfikacja certyfikatu bezpieczeństwa (SSL).
        </p>

        <button type="button" class="next-flashcard  btn flashcard">OK. Dawaj dalej.</button>
      </div>
    </div>
  </div>
</div>
<div class="flashcard-progress">
  <span>Pozostało <b class="flashcard-to-end-count">40</b> fiszek</span>
  <div class="progress-wrapper progress-variant-2">
    <span>22% </span>
    <progress value="22" max="100"></progress>
</div>
</div>
</div>