<details class="nav-of-articles">
    <summary>Spis treści</summary>
    <ul>
    </ul>
</details>
%%ARTICLE_CONTENT%%
<div id="quiz-page-section">
    <hr>
    <h2 id="quiz-section">TEST WIEDZY</h2>
    <hr>
    <div id="quiz-container">
        %%QUIZ_CONTENT%%

        <div id="quiz-results">
            <p id="quiz-results-text">Wynik 30/30 - 100%</p>
            <p id="quiz-results-grade">Ocena: (5) Dopuszczający</p>
            <p id="quiz-results-comment">Komentarz: Gratulacje! Zdobyłeś maksymalną ilość punktów. Jesteś na dobrej drodze do zdania testu.</p>
            <button id="quiz-retry">Spróbuj ponownie</button>
        </div>
    </div>
</div>

<hr>
